<div layout="row" layout-align="center center">
    <div ng-controller="factureEnCtrl" ng-cloak>
        <md-content layout-padding>
            <div layout-gt-xs="row">
                <div flex-gt-xs>
                    <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
                </div>

                <div flex-gt-xs>
                    <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
                </div>
                <div flex-gt-xs>
                    <md-button class="md-fab md-primary md-hue-2" aria-label="Profile">Ok</md-button>
                </div>

            </div>

        </md-content>
    </div>
</div>
<md-content laout="column" flex >
    <md-card>

        <md-toolbar class="md-table-toolbar md-default" ng-hide="options.rowSelection && selected.length">
            <div class="md-toolbar-tools">
                <span>Prestations à payer</span>
            </div>
        </md-toolbar>

        <md-table-container>
            <table md-table md-progress="promise">
                <thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder">
                <tr md-row>
                    <th md-column ><span>Mission</span></th>
                    <th md-column><span>Date Paiement Consultant</span></th>
                    <th md-column><span>Mode Paiement Consultant</span></th>
                    <th md-column><span>Montant à payer</span></th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row md-select="fact" md-on-select="logItem" md-auto-select="options.autoSelect" ng-disabled="fact.calories.value > 400" ng-repeat="fact in fact_retard.data | filter: filter.search | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
                    <td md-cell>{{fact.mission}}</td>
                    <td md-cell>{{fact.date_paiement}}</td>
                    <td md-cell>{{fact.modedepm}}</td>
                    <td md-cell>{{fact.montant}}</td>

                </tr>
                </tbody>
            </table>
        </md-table-container>

        <md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{fact_retard.count}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>
    </md-card>
</md-content>