<div ng-controller="MissionCtrl">
    <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
        <div style="display: flex;">
            <md-input-container class="md-block">
                <md-datepicker ng-model="mission.date_debut" md-placeholder="Date Début"></md-datepicker>
            </md-input-container>

            <md-input-container class="md-block">
                <md-datepicker ng-model="mission.date_fin" md-placeholder="Date Fin"></md-datepicker>
            </md-input-container>

            <md-input-container>
                <md-select ng-model="mission.client" placeholder="Client">
                    <md-optgroup>
                        <md-option ng-value="client">Client</md-option>
                        <md-option ng-value="client" ng-repeat="client in clients">{{client}}</md-option>
                    </md-optgroup>
                </md-select>
            </md-input-container>

            <md-input-container >
                <md-select ng-model="mission.consultant" placeholder="Consultant">
                    <md-optgroup>
                        <md-option ng-value="consultant">Consultant</md-option>
                        <md-option ng-value="consultant" ng-repeat="consultant in consultants">{{consultant}}</md-option>
                    </md-optgroup>
                </md-select>
            </md-input-container>

        </div>
        <div layout="row" layout-align="center center">
            <md-button ng-click="serachMission(mission)" class="md-fab material-icons" style="background-color: grey">
                <md-icon>search</md-icon>
            </md-button>

            <md-button ng-click="addMission($event)" class="md-fab material-icons" style="background-color: grey">
                <md-icon>add</md-icon>
            </md-button>

        </div>
    </md-content>
    <md-content laout="column" flex >
        <md-card>
            <md-table-container>
                <table data-md-table data-md-row-select="options.rowSelection" data-ng-model="selected" md-progress="promise">
                    <thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder">
                    <tr md-row>
                        <th md-column ><span>Titre</span></th>
                        <th md-column><span>Date Début</span></th>
                        <th md-column><span>JTM</span></th>
                        <th md-column><span>Prix Vente</span></th>
                        <th md-column><span>Délai Paiement</span></th>
                    </tr>
                    </thead>
                    <tbody md-body>
                    <tr md-row md-select="mission" md-select-id="id" data-md-on-select="log" md-on-deselect="deselect" md-auto-select="options.autoSelect" ng-repeat="mission in missions.data | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
                        <td md-cell>{{mission.titre}}</td>
                        <td md-cell>{{mission.date_debut}}</td>
                        <td md-cell>{{mission.tjm}}</td>
                        <td md-cell>{{mission.prix_vente}}</td>
                        <td md-cell>{{mission.delai_paiement}}</td>
                        <md-toolbar class="md-table-toolbar alternate" ng-show="options.rowSelection && selected.length">
                            <div class="md-toolbar-tools">
                                <span></span>
                                <span flex></span>
                                <md-button class="md-icon-button" ng-click="showMission($event)">
                                    <md-icon>remove_red_eye</md-icon>
                                </md-button>
                                <md-button class="md-icon-button" ng-click="editMission($event)">
                                    <md-icon>edit</md-icon>
                                </md-button>
                                <md-button class="md-icon-button" ng-click="showConfirm($event)">
                                    <md-icon>delete</md-icon>
                                </md-button>
                            </div>
                        </md-toolbar>
                    </tr>
                    </tbody>
                </table>
            </md-table-container>

            <md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{missions.count}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>
        </md-card>
</div>
