<md-toolbar>
    <div class="md-toolbar-tools">

        <h2>
            <span>***************************************************************************************</span>
        </h2>

    </div>
</md-toolbar>

<div layout="column" ng-cloak class="md-inline-form"  >
    <md-content layout-padding>
        <div ng-controller="ClientCtrl">
            <form name="userForm" novalidate>
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Raison Social</label>
                        <input type="text" ng-model="client.raison" name="zip" required>
                        <div ng-messages="userForm.zip.$error" ng-if="userForm.$submitted || userForm.zip.$touched">
                            <div ng-message="required">Raison Scoial est obligatoire !!!</div>
                        </div>
                    </md-input-container>
                </div>
                <md-input-container class="md-block">
                    <label>Address</label>
                    <input ng-model="client.addresse">
                </md-input-container>
                <md-input-container md-no-float class="md-block">
                    <md-select ng-model="client.ville" placeholder="Ville">
                        <md-optgroup>
                            <md-option ng-value="ville" ng-repeat="ville in villes">{{ville}}</md-option>
                        </md-optgroup>
                    </md-select>
                </md-input-container>
                <md-input-container md-no-float class="md-block">
                    <input type="email" name="email" ng-model="client.email" placeholder="Email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/">
                    <div ng-messages="userForm.email.$error">
                        <div ng-message="pattern">Please enter a valid email address!</div>
                    </div>
                </md-input-container>
                <md-input-container md-no-float class="md-block">
                    <input type="tel" name="tel" ng-model="client.tel" placeholder="Telephone" ng-pattern="/^[(]{0,1}[0-9]{3}[)\.\- ]{0,1}[0-9]{3}[\.\- ]{0,1}[0-9]{4}$/">
                    <div ng-messages="userForm.tel.$error">
                        <div ng-message="pattern">Please enter a valid tel!</div>
                    </div>
                </md-input-container>
                <md-input-container md-no-float class="md-block">
                    <input ng-model="client.name_resp" placeholder="Nom Responsable">
                </md-input-container>
                <md-input-container md-no-float class="md-block">
                    <input ng-model="client.observation" placeholder="Observation">
                </md-input-container>
                <md-dialog-actions layout="row">
                    <span flex></span>
                    <md-button ng-click="cancel()">
                        Annuler
                    </md-button>
                    <md-button type="submit" ng-click="add(client)">
                        Valider
                    </md-button>
                </md-dialog-actions>
            </form>
        </div>
    </md-content>


</div>
